*~
\#*#
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
thesis.pdf
sections/*.pdf
*.run.xml
*.synctex.gz
*.toc
.vscode/

# Latex - Glossaries Package & Makeglossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
